* {
  font-family: YS Text Optional, Arial, Helvetica, sans-serif;
}

textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-size: 17px;
  line-height: 1.57;
}

.title {
  text-align: center;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.settingsBar {
  padding: 0.25rem;
}

.btn {
  border-width: 1px;
  border-radius: 3px;
}

.btn-green {
  background-color: #c4ffc4;
  border-color: darkgreen;
}

.btn-red {
  background-color: LightSalmon;
  border-color: DarkRed;
}

.mainLink {
  color: black;
}

.mainLink:visited {
  color: black;
}

.mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tasksList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 800px) {
  .tasksList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tasksList_column {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.table {
  border: 1px solid #666;
  border-collapse: collapse;
}

.table_cell {
  border: 1px solid #666;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .table_cell {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

.table_row {
  background-color: #e6e6e6;
}

.table_row_descroptoinRow {
  text-align: start;
  max-width: 25rem;
  min-width: 15rem;
}

.table_row_bgAnimation {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.table_row:nth-child(1) {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #bbb), color-stop(50%, #eee), color-stop(80%, #bbb));
  background: linear-gradient(to top, #bbb 20%, #eee 50%, #bbb 80%);
}

.table_row_selectable:hover {
  background-color: white;
}

.table_row_yellow {
  background-color: #fffdbb;
}

.table_row_green {
  background-color: #c4ffc4;
}

.table_row_red {
  background-color: #ffcab5;
}

.table_fullSizeInput {
  width: 100%;
  height: 100%;
  padding: 0;
  resize: none;
}

.invisibleInput {
  border: none;
  background-color: inherit;
}

@-webkit-keyframes moveCongratulation {
  to {
    opacity: 0;
    top: 66%;
  }
  0%,
  85% {
    opacity: 1;
    top: 33%;
  }
}

@keyframes moveCongratulation {
  to {
    opacity: 0;
    top: 66%;
  }
  0%,
  85% {
    opacity: 1;
    top: 33%;
  }
}

.notification {
  background-color: #fffdbb;
  border: 2px solid DarkOrange;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  position: fixed;
  -webkit-animation: moveCongratulation 5s linear;
          animation: moveCongratulation 5s linear;
}

.framedPage {
  width: 100%;
  background-color: white;
}
