$mainBorder: 1px solid #666;
$greenBg: rgb(196, 255, 196);
$greenBorder: darkgreen;
$redBg: LightSalmon;
$redBorder: DarkRed;
$yellowBg: rgb(255, 253, 187);
$yellowBorder: DarkOrange;
$gray: rgb(230, 230, 230);

* {
  font-family: YS Text Optional, Arial, Helvetica, sans-serif;
}
textarea,
input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
body {
  font-size: 17px;
  line-height: 1.57;
  //background-image: url(../img/bg.jpg);;
}

.title {
  text-align: center;
}
.mainContent {
  display: flex;
  justify-content: center;
}

.settingsBar {
  padding: 0.25rem;
}

.btn {
  border-width: 1px;
  border-radius: 3px;
}
.btn-green {
  background-color: $greenBg;
  border-color: $greenBorder;
}
.btn-red {
  background-color: $redBg;
  border-color: $redBorder;
}

.mainLink {
  color: black;
}
.mainLink:visited {
  color: black;
}
