<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/report.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/reportAll.js"></script>
    <title>Отчет: все задачи</title>
  </head>
  <body>
    <div class="mainContent">
      <div id="report" class="report">
        <h1 class="title" v-if="!isFramed">
          Отчет по общему количеству задач <br />({{user.name}})
        </h1>
        <!-- Settings bar -->
        <div class="settingsBar">
          <span>с:</span><input type="date" v-model="dateFrom" />
          <span>по:</span><input type="date" v-model="dateTo" />
          <select v-model="interval">
            <option
              v-for="option in intervalOptions"
              v-bind:value="option.name"
            >
              {{option.title}}
            </option>
          </select>
          <button v-on:click="loadReport">&#8635;</button>
        </div>
        <div class="report">
          <svg
            class="report_field"
            v-bind:width="fieldWidth"
            v-bind:height="fieldHeight"
            xmlns="http://www.w3.org/2000/svg"
          >
            <text y="15" x="3" font-size="14">{{maxBar}}</text>
            <line
              v-for="axsisLine in axsisLines"
              v-bind:x1="axsisLine.x1"
              v-bind:y1="axsisLine.y1"
              v-bind:x2="axsisLine.x2"
              v-bind:y2="axsisLine.y2"
              stroke="#000"
            />
            <text
              v-for="axsisLine in axsisLines"
              v-bind:y="axsisLine.y1-3"
              x="3"
              font-size="14"
            >
              {{axsisLine.value}}
            </text>
            <rect
              v-for="bar in getPoints"
              v-bind:x="bar.x"
              v-bind:y="bar.y"
              v-bind:width="bar.width"
              v-bind:height="bar.height"
              fill="#b4241b"
            />
            <text
              v-for="date in dates"
              v-bind:y="date.y"
              v-bind:x="date.x"
              v-bind:font-size="date.size"
              text-anchor="middle"
            >
              {{date.text}}
            </text>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
